<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>個人情報画面</title>
</head>
<body>

  <!-- エラー文の出力 -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

    <div>
        <h1>ようこそ、{{ user.name }} さん！</h1>
        <p>ユーザーID: {{ user.id }}</p>
        <p>メールアドレス: {{ user.email }}</p>
        <p>ここはログイン後の個人情報画面です。</p>
        <div class="mbti-box">
          <h3>🌍 あなたの旅行タイプ（MBTI診断結果）</h3>
          <p><strong>{{ user.mbti_type }}</strong></p>
          {% if user.mbti_date %}
          <p>診断日: {{ user.mbti_date }}</p>
          {% endif %}
        </div>
    </div>
    
<div>
    <h1>ようこそ、{{ username }} さん！</h1>
    <p>ここはログイン後のホーム画面です。</p>
    <a href="{{ url_for('home.logout') }}" >ログアウト</a>
</div>

<nav>
    <div>
        <a href="{{ url_for('home.home') }}" >ホーム</a>
        <a href="{{url_for('mbti.mbti_explanation')}}">mbtiページ</a>
        <a href="{{ url_for('personal.personal') }}" >個人情報画面</a>
        <a>旅行ページ</a>
    </div>
</nav>

</body>
</html>
