<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <head>ホーム</head>
</head>
<body>

  <!-- エラー文の出力 -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}    

<div>
    <h1>ようこそ、{{ username }} さん！</h1>
    <p>ここはログイン後のホーム画面です。</p>
    <a href="{{ url_for('home.logout') }}" >ログアウト</a>
</div>

<a href="{{url_for('home.information')}}">💬</a>

<div>

</div>

<nav>
    <div>
        <a href="{{ url_for('home.home') }}" >ホーム</a>
        <a href="{{url_for('mbti.mbti_explanation')}}">mbtiページ</a>
        <a href="{{ url_for('setting.setting') }}" >個人情報画面</a>
        <a href="{{ url_for('plan.plan') }}">旅行ページ</a>
        <a href="{{url_for('my_travel.my_travel')}}">myトラベル</a>
    </div>
</nav>



<diV>
  <h1>旅行タイトル</h1>
  <p>旅行先</p>
  <p>人数</p>
  <p>予想予算</p>
  <p>この旅行をおおまかに要約した文章（約200文字）</p>
  
</diV>
</body>
</html>
