<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン画面</title>
</head>
<body>

    
  <!-- エラー文の出力 -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  

  <form action="{{ url_for('index.login') }}" method="post">
    <div>
      <input type="text" name="username" placeholder="ユーザー名" required maxlength="32">
    </div>
    <div>
      <input type="password" name="password" placeholder="パスワード" required maxlength="32">
    </div>
    <button type="submit" id="submit-btn">登録</button>
  </form>

    <div>
        <a href="{{ url_for('index.index') }}">
        戻る
        </a>
        <a href="{{ url_for('index.registration') }}">
        新規登録
        </a>
    </div>

<!--二重送信しないようにするためのscriptタグ-->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
