<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>旅行情報選択画面</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      background-color: #F6F5F3;
      color: #2C3E50;
      font-family: "Noto Sans JP", sans-serif;
    }
    
  </style>
</head>
<body>

  <!-- エラー文の出力 -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}


</body>
</html>
